* {
    padding: 0;
    margin: 0;
  }
  
  /* ///////logo */
  .img_lcc {
    width: 34px;
    height: 34px;
  }
  .logo_a {
    display: flex;
  }
  .img_lcc {
    margin-top: 8px;
    padding-right: 8px;
  }
  body { 
    width: 100%;
  }
  
  /* /////////////////////////////////////////////////////////////////////////// */
  .phone_header {
    position: fixed;
    width: 100%;
  }
  header {
    height: 50px;
    width: 100%;
    background: rgb(45, 44, 44);
    font-family: 'Vollkorn', serif;
    color: #DDD;
    position:fixed;
    background-size: cover;
    top:0;
    left:0;
  }
  .div_ul {
    padding: 0 22px;
    
  }
  .header_ul {
    display: flex;
    list-style: none;
    height: 50px;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
  .header_text {
    color: #DDD;
    height: 50px;font-size: 18px;
    margin-top: 14px;
  }
  
  
  
  /* ハンバーガーボタン */
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 4px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #DDD;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active {
    top   : 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay     : 0.6s;
    transition-delay        : 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active span:nth-child(2){
    width: 0px;
  }
  .hamburger.active span:nth-child(1),
  .hamburger.active span:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .hamburger.active span:nth-child(1){
    -webkit-transform: translateY(4px);
    -ms-transform    : translateY(4px);
    -o-transform     : translateY(4px);
    transform        : translateY(4px);
  }
  
  .hamburger.active span:nth-child(3){
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform : translateY(-16px) rotate(90deg);
    transform    : translateY(-16px) rotate(90deg);
  }
  
  nav.globalMenuSp {
    border-bottom: 1px solid #fff;
    margin-top: -500px;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: rgb(45, 44, 44);
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.9s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    /* position: relative; */
    border-top: 1px solid #ddd;
    background: rgb(45, 44, 44);
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :rgb(34, 34, 34);
    transition : all 300ms;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }
  
  
  
  /* /////////////////////////////////////////////////////////////////////////// */
  /* 説明文浮き出し */
  .effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 3000ms;
  }
  .effect-fade.effect-scroll {
    opacity : 0.9;
    transform : translate(0, 0);
  }
  
  /* 説明文等のdiv css  image font */
  .description_div {
    height: 500px;
    margin-top: 50px;
    background: url("../../img/coding-924920_640.jpg");
    position: relative;
    background-size: cover;
  }
  .description_h1 {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    margin: 25px auto;
    width: 90%;
    font-size: 20px;
  }
  .h1_hr {
    margin: 0 auto;
    width: 100%;
  }
  .h4_hr {
    margin: 0 auto;
    width: 100px;
  }
  .description_h2 {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    margin: 20px auto;
    font-size: 19px;
  }
  .description_h3 {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
  }
  .description_h4 {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    margin: 20px auto 10px;
  }
  .description_h3_p {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    margin: 10px auto;
  }
  .cover_box {
    position: absolute;
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  
  
  
  /* /////////////////////////////////////////////////////////////////////////// */
  /* 質問表示div css */
  .questions_div {
    background: white;
    margin: 20px 20px;
    font-family: 'Vollkorn', serif;
  }
  .questions_answer_div {
    background: #f5f5f7;
    padding: 1px 0;
    margin-bottom: 20px; 
  }
  .monndaikaiketu_div {
    margin: 20px 20px;
  }
  .communication_div {
    margin: 20px 20px;
  }
  .questions_button_div {
    margin: 40px 30px 40px 35px;
  }
  /* ///////////////////// 質問見出し 選択ボタン*/
  .q_p {
    font-size: 17px;
    padding-bottom: 10px;
    color: rgb(70, 70, 70);
    font-weight: 600;;
  }
  .choices {
    margin: 0 0 15px 0;
  }
  
  /* /////////////////// 送信ボタン */
  .submit {
    margin: 40px auto;
    height: 40px;
  }
  .button {
    font-size: 14px;
    border: none;
    width: 150px;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: rgb(62, 62, 62);
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
  
  
  .footer_div {
    background: rgb(45, 44, 44);
    font-family: 'Vollkorn', serif;
    color: #DDD;
    padding-top: 20px;
    text-align: center;
  }
  .Instagram_div {
    margin: 0 auto;
  }
  .Instagram_icon_div {
    display: flex;
    justify-content: center;
  }
  .footer_p {
    font-size: 12px;
    padding: 20px 0;
  }
  .Instagram_icon_p {
    font-size: 17px;
    padding-left: 5px;
    line-height: 32px;
  }
  .Instagram_icon {
    width: 32px;
    height: 32px;
  }
  .Instagram_icon_a {
    height: 32px;
  }