* {
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn', serif;
    list-style: none;
  }
  body {
    background: #fafffa	;
  }
  
  /* ///////logo */
  .img_lcc {
    width: 34px;
    height: 34px;
  }
  .logo_a {
    display: flex;
  }
  .img_lcc {
    margin-top: 8px;
    padding-right: 8px;
  }
  body { 
    width: 100%;
  }
  
  /* /////////////////////////////////////////////////////////////////////////// */
  .phone_header {
    position: fixed;
    width: 100%;
    height: 0;
  }
  header {
    height: 50px;
    width: 100%;
    background: rgb(45, 44, 44);
    font-family: 'Vollkorn', serif;
    color: #DDD;
    position:fixed;
    background-size: cover;
    top:0;
    left:0;
  }
  .div_ul {
    padding: 0 22px;
    
  }
  .header_ul {
    display: flex;
    list-style: none;
    height: 50px;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
  .header_text {
    color: #DDD;
    height: 50px;font-size: 18px;
    margin-top: 14px;
  }
  
  
  
  /*　ハンバーガーボタン　*/
  .hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 13px;
    top   : 4px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #DDD;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active {
    top   : 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay     : 0.6s;
    transition-delay        : 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active span:nth-child(2){
    width: 0px;
  }
  .hamburger.active span:nth-child(1),
  .hamburger.active span:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .hamburger.active span:nth-child(1){
    -webkit-transform: translateY(4px);
    -ms-transform    : translateY(4px);
    -o-transform     : translateY(4px);
    transform        : translateY(4px);
  }
  
  .hamburger.active span:nth-child(3){
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform : translateY(-16px) rotate(90deg);
    transform    : translateY(-16px) rotate(90deg);
  }
  
  nav.globalMenuSp {
    border-bottom: 1px solid #fff;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #000;
    background: rgb(45, 44, 44);
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.9s;
    width: 100%;
  }
  
  nav.globalMenuSp ul {
    /* position: relative; */
    border-top: 1px solid #ddd;
    background: rgb(45, 44, 44);
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover{
    background :rgb(34, 34, 34);
    transition : all 300ms;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    transform: translateY(0%);
  }
  
  /* //動画 画像 */
  iframe {
    width: 292px;
  }
  .answer_image {
    width: 292px;
    height: 150px;
  }
  
  
  /* //////////////////////////////////   body   */
  .body_div {
    margin: 50px 15px;
  }
  .midashi_div {
    text-align: center;
    font-family: 'Vollkorn', serif;
  }
  .midashi_h1 {
    font-weight: 300;
  }
  
  /* //////////////////////////////////   説明div   */
  .guide_div {
    height: 250px;
    width: 100%;
    background: url("../../img/binary-2907220_1920.jpg");
  }
  .cover_box_guide {
    height: 250px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
  }
  .guide_p_div {
    padding: 25px 15px;
  }
  .white_p {
    color: white;
    font-family: 'Vollkorn', serif;
  }
  .guide_p_1_div {
    font-size: 15px;
    line-height: 1.7;
  }
  .guide_p_2_div {
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.7;
  }
  
  /* //////////////////////////////////   チェンジdiv   */
  .hr_25 {
    width: 100%;
    height: 15px;
    background: #DDD;
   }
   .change_ul {
    text-align: center;
  }
  .change_li {
    cursor: pointer;
  }
  .change_li:hover {
    background: white;
    color: #B1F9D0;
    transition : all 300ms;
  }
  .change_li.active:hover {
    background: #B1F9D0;
  }
  .change_li.active {
    background: #9BF9CC;
    color: rgb(150, 150, 150);
    transition : all 10ms;
  }
  .change_li_p {
    font-family: 'Vollkorn', serif;
    font-size: 17px;
    font-weight: 900;
    /* line-height: 2.5; */
  }
  .answers_div {
    width: 100%;
  }
  .answers {
    display: none;
  }
  .answers.active {
    display: block;
  }
  
  /* //////////////////////////////////   回答結果表示 answers    */
  .answer_h2 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    width: 292px;
  }
  .answer_li {
    margin: 15px auto;
  }
  .phone_answer_style {
    width: 292px;
    margin: 0px auto;
  }
  .answer_book_text {
    width: 292px;
    /* height: 250px; */
    background: #EEEEEE; 
    margin-top: -41px; 
    text-align: center;
    font-family: 'Vollkorn', serif;
    border-color:#AAAAAA;
    border-style:solid;
    border-width:0 1px 1px 1px;
    box-sizing: border-box;
  }
  .answer_mov_text {
    text-align: center;
    font-family: 'Vollkorn', serif;
    width: 292px;
    /* height: 250px;  */
    background: #EEEEEE; 
    margin-top: -6px;
    border-color:#AAAAAA;
    border-style:solid;
    border-width:0 1px 1px 1px;
    box-sizing: border-box;
  }
  .answer_sonota_text {
    text-align: center;
    font-family: 'Vollkorn', serif;
    width: 292px;
    /* height: 250px;  */
    background: #EEEEEE; 
  }
  .image_url {
    width: 292px;
    height: 150px;
  }
  .hr_1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 292px;
    margin: 0 auto;
  }
  .cover_box {
    position: absolute;
    width: 292px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: -156px;
    height: 150px;
  }
  
  /* //// 回答結果表示 text */
  .answer_text_h3 {
    font-size: 18px;
  }
  .answer_text_h4 {
    font-size: 15px;
    margin: 5px 0;
  }
  .answer_text_h4_2 {
    font-size: 15px;
    margin: 5px 0;
  }
  .answer_text_p {  
    font-size: 14px;
    margin: 5px 0;
  }
  .text_h3_hr {
    width: 272px;
    margin: 0 auto;
  }
  .book_h3 {
    color: #2E8B57	;
  }
  .mov_h3 {
    color: #d52c2c	;
  }
  .sonota_h3 {
    color: #e1c007	;
  }
  .hr_25_bottom_20 {
    width: 100%;
    height: 21px;
    background: #DDD;
    margin-bottom: 20px;
  }
  .answer_image_div {
    margin: 10px;
  }
  .answer_image_div_dot_pro {
    margin: 10px;
    border: 2px solid #fff;
  } 
  .answer_image_a_p {
    margin: 0 auto;
    color: #9BF9CC;
    border-bottom: 1px solid #9BF9CC;
    width: 272px;
  }
  .answer_image_p {
    font-size: 15px;
    color: #fff;
  } 
  .dot_pro {
    font-size: 15px;
  }
  .answer_image_a_p:hover {
    color: #444444;
    background: #CEF9DC;
    transition : all 100ms;
  }
  
  /* 回答結果 能力がある場合 */
  .no_answer_li {
    text-align: center;
    margin: 0 auto;
    margin: 10px 0;
  }
  
  /* 回答終了ボタン */
  .return_button_a {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #d27d00;/*線色*/
  }
  .return_button_a:hover {
    color: #FFDBC9;
    transition : all 100ms;
  }
  .return_button_div {
    text-align: center;
  }
  
  
  
  /* //////////////////////   フッターのCSS   */
  .footer_div {
    background: rgb(45, 44, 44);
    font-family: 'Vollkorn', serif;
    color: #DDD;
    padding-top: 20px;
    text-align: center;
  }
  .Instagram_div {
    margin: 0 auto;
  }
  .Instagram_icon_div {
    display: flex;
    justify-content: center;
  }
  .footer_p {
    font-size: 12px;
    padding: 20px 0;
  }
  .Instagram_icon_p {
    font-size: 17px;
    padding-left: 5px;
    line-height: 32px;
  }
  .Instagram_icon {
    width: 32px;
    height: 32px;
  }
  .Instagram_icon_a {
    height: 32px;
  }