* {
    padding: 0;
    margin: 0;
  
  }
  /* ///////logo */
  .img_lcc {
    width: 34px;
    height: 34px;
    /* background: rgb(45, 44, 44); */
  }
  .logo_a {
    display: flex;
  }
  .img_lcc {
    margin-top: 8px;
    padding-right: 8px;
  }
  
  
  /* /////////////////////////////////////////////////////////////////////////// */
  header {
    height: 50px;
    width: 100%;
    background: rgb(45, 44, 44);
    font-family: 'Vollkorn', serif;
    color: #DDD;
    position:fixed;
    background-size: cover;
    top:0;
    left:0;
  }
  .div_ul {
    padding: 0 22px;
  }
  .header_ul {
    display: flex;
    list-style: none;
    height: 50px;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
  .header_text {
    color: #DDD;
    height: 50px;font-size: 18px;
    margin-top: 14px;
  }

  .description_div {
    background: url("../img/home.png");
    background-repeat: no-repeat;
    width:100%;
    height:calc(100vw/3.4);
    background-size:cover;
   ;
  }

  .lcc {
    color: #DDD;
    font-family: 'Vollkorn', serif;
    text-align: center;
  }

  .sentence{
    color: #DDD;
    font-family: 'Vollkorn', serif;
    text-align: center;
  }

  .effect-fade {
    opacity : 0;
    transform : translate(0, 45px);
    transition : all 3000ms;
  }
  .effect-fade.effect-scroll {
    opacity : 0.9;
    transform : translate(0, 0);
  }
  
    /* //////////////////////   フッターのCSS   */
.footer_div {
  background: rgb(45, 44, 44);
  font-family: 'Vollkorn', serif;
  color: #DDD;
  padding-top: 20px;
  text-align: center;
}
.Instagram_div {
  margin: 0 auto;
}
.Instagram_icon_div {
  display: flex;
  justify-content: center;
}
.footer_p {
  font-size: 12px;
  padding: 20px 0;
}
.Instagram_icon_p {
  font-size: 17px;
  padding-left: 5px;
  line-height: 32px;
}
.Instagram_icon {
  width: 32px;
  height: 32px;
}
.Instagram_icon_a {
  height: 32px;
}

 @media screen and (min-width: 1367px){
    .description_div {
        margin-top:50px;
      }
      .lcc {
        font-size: 120px;
        padding: calc((100vw/20)) 0px 20px;
      }
      .sentence{
        font-size: 30px;
      }
}

 /*パソコン*/
 @media screen and (max-width: 1366px){
    .description_div {
        margin-top:50px;
      }
    .lcc {
        font-size: 90px;
        padding: calc((100vw/20)) 0px 15px;
      }
    .sentence{
        font-size: 25px;
    }

}

/*タブレット縦*/
@media screen and (max-width: 1024px){
    .description_div {
        margin-top:50px;
        height:300px;
      }
    .lcc {
        font-size: 80px;
        padding: 60px 0px 15px;
    }
    .sentence{
        font-size: 25px;
    }
 }

 
 /* ヘッダー */
 @media screen and (min-width: 700px){
    .div_ul {
      margin: 0 12px;
    }
  }
  @media screen and (min-width: 800px){
    .div_ul {
      margin: 0 26px;
    }
  }
  @media screen and (min-width: 900px){
    .div_ul {
      margin: 0 42px;
    }
  }
  @media screen and (min-width: 1000px){
    .div_ul {
      margin: 0 60px;
    }
  }
  @media screen and (min-width: 1100px){
    .div_ul {
      margin: 0 80px;
    }
  }
  @media screen and (min-width: 1200px){
    .div_ul {
      margin: 0 102px;
    }
  }
  @media screen and (min-width: 1300px){
    .div_ul {
      margin: 0 126px;
    }
  }
  @media screen and (min-width: 1400px){
    .div_ul {
      margin: 0 152px;
    }
  }



 



